@page "/moving_rect"
@using ComponentCommunication.Shared

<CascadingValue Value="this">

    <label>方块数量：</label> <input @bind-value="RectCount" />

    <div class="console-window text-center" @onkeydown="_controlBase.OnKeyDown" style="@_style" tabindex="0">
        @{
            for (int i = 0; i < RectCount; i++)
            {
                <Rect />
            }
        }

        <pre class="console">

    </pre>
    </div>
</CascadingValue>

@code {
    private int _rectCount = 0;

    public int RectCount
    {
        get => _rectCount;
        set{
            if (value < 10) 
            {
                _rectCount = value;
                StateHasChanged();
            }
            else
            {
                Info = "Sorry, the count of Rect is over.";
            }
        }
    }

    public string Info { get; set; } = string.Empty;

    private string _style;


    private ControlBase _controlBase { get; set; } = new ControlBase();

    protected override Task OnInitializedAsync()
    {
        _style = "height:200px; width:600px; background-color:grey;";

        return base.OnInitializedAsync();
    }


}
