@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor 组件通信</h1>

<ul>
    <li><a href="ParameterDisplay">组件参数</a></li>
    <li><a href="CascadingParameterDisplay">级联值和参数</a></li>
    <li><a href="EventCallbackDisplay">EventCallback</a></li>
    <li><a href="PublishSubscribDisplay">发布订阅模式</a></li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
