@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor 组件通信</h1>

<ul>
    <li><a>组件参数</a></li>
    <li><a href="cascading_page">级联值和参数</a></li>
    <li><a>事件处理</a></li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
