@page "/cascading_page"

<h3>级联参数</h3>

<TabSet>
    <Tab Title="First tab">
        <p>The first tab!</p>
    </Tab>

    <Tab Title="Second tab">
        <p>The second tab!</p>
    </Tab>

    <Tab Title="Third tab">
        <p>The third tab!</p>
    </Tab>
</TabSet>
