@inject IStateContainer<Player> Ns

<h4>Component_A</h4>

<label>Please input the count of players:</label>

<label>@_promptInfo</label>

<input type="number"
       value="@_playerNumber"
       @onchange="NumChanged"
       placeholder="Please input the count of players："/>

@code {
    private List<Player> Players { get; set; } = new List<Player>();

    private int _playerNumber { get; set; } = 0;

    // 提示信息
    private string _promptInfo;

    private void NumChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int number))
        {
            _promptInfo = string.Empty;
            _playerNumber = number;

            Players.Clear();
            for (int i = 0; i < _playerNumber; i++)
            {
                Player player = new Player("Player_" + i);
                Players.Add(player);
            }
            
            Ns.NotifyStateChanged(Players);
        }
        else
        {
            _promptInfo = "请输入一个有效的整数！";
        }
    }
    
}