@page "/StateContainerDisplay"

<h3>状态容器</h3>

<div style="display: flex; flex-direction: column; height: 800px; width: 1200px; background-color: #fff;">
    <div style="height: 120px; width: 1200px; background-color: #51585e;">
        <Component_A/>
    </div>

    <div style="display: flex; flex-direction: row; flex-grow: 1; margin-top: 100px;">
        <div style="height: 100%; width: 600px; background-color: #fff;">
            <Component_B/>
        </div>

        <div style="height: 100%; width: 600px; background-color: #fff;">
            <Component_C/>
        </div>
    </div>
</div>
