@inject INotifyService Ns

<p>
    @_msg
</p>

@code {
    string _msg;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Ns.OnClickCallback += SubscribEvent;
    }

    public void SubscribEvent(string msg)
    {
        _msg = "Subscriber A received: " + msg;
        
        Console.WriteLine(_msg);
    }

}