@{
    if (ChildComponentPlayers.Count > 0)
    {
        <table>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Health</th>
                <th scope="col">IsAlive</th>
            </tr>
            @foreach (var player in ChildComponentPlayers)
            {
                <tr>
                    <th scope="row">@player.Name</th>
                    <td>@player.Health</td>
                    <td>@player.IsAlive</td>
                </tr>
            }
        </table>
    }
}

@code {
    [Parameter]
    public List<Player> ChildComponentPlayers { get; set; } = new List<Player>();
}